PORT=3001
MONGODB_URI=mongodb://localhost:27017/thangmay3
JWT_SECRET=mFlbz6wQOsrzy9zxk1PbO5cz9b59dSnygI2nY92uVTX
CORS_ORIGIN=http://localhost:5173
GOOGLE_CALENDAR_SHARE_SCOPE=public
GOOGLE_CALENDAR_SHARE_DOMAIN=
GOOGLE_CALENDAR_SHARE_EMAILS=
